# common
snippet api
snippet cookie
snippet loading
snippet message
snippet sc

# module
snippet number
snippet checkbox
snippet dataFormat
snippet device
snippet mode
snippet regExpSjis
snippet storage
snippet time
snippet timeFormat
snippet userAgent
snippet validator

# ui
snippet dialog
snippet editableList
snippet form
snippet sideMenu
snippet Table
snippet window
snippet dateField
snippet help
snippet link
snippet placeholder
snippet select
snippet toast
snippet toggle
