snippet des
	describe('${1:}', () => {
		${0:${VISUAL}}
	})
snippet it
	it('${1}', () => {
		assert+${0}
	})
snippet assert+
	assert(${1} === ${2});
	assert+${0}
snippet befe
	beforeEach(() => {
		${0:${VISUAL}}
	})
